<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashboard{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>
<body>
    <div id="dashboard" class="dashboard">
        <div class="dashboard-background">

            <h1>Hello, {{ user.name }}!</h1>
            <button class="log-period-btn">Log Period</button>

            <!--logout btn-->
            <form method="POST" action="{{ url_for('main.logout') }}" novalidate>
                {{ form.hidden_tag() }}
                <button type="submit" class="logout-btn">Logout</button>
            </form>

            <!--tabs-->
            <div class="tab-container">
                <a data-target="calendar-tab" class="tab">Calendar</a>
                <a data-target="statistics-tab" class="tab">My Plants</a>
            </div>

            <!--next event container-->
            <div class="today-container">
                <h2 id="period" class="today">period data</h2>
                <h2 id="ovulation" class="today">ovulation data</h2>
                <div class="sun-moon-container">
                    <div class="sun">
                        <img src="{{ url_for('static', filename='assets/Centre.png') }}" alt="Sun Center" class="sun-center">
                        <img src="{{ url_for('static', filename='assets/Rays.png') }}" alt="Rays" class="rays">
                    </div>
                    <div class="moon">
                        <img src="{{ url_for('static', filename='assets/Moon.png') }}" alt="Moon">
                    </div>
                </div>
            </div>

            <!-- tab content-->
            <div id="calendar-tab" class="tab-content">
                <p>This is the calendar.</p>
            </div>
            <div id="statistics-tab" class="tab-content">
                <p>Here are you cycle statistics.</p>
            </div>
        </button>
    </div>
</body>