{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<h1>Login</h1>

<section class="form-container" id="login-form-container">
    <form method="POST" action="{{ url_for('main.login') }}"novalidate>
        {{ login_form.hidden_tag() }}
        <label for="email">{{ login_form.email.label }}</label>
        {{ login_form.email(class="form-input", id="email", placeholder="Email") }}
        {% for error in login_form.email.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}

        <label for="password">{{ login_form.password.label }}</label>
        {{ login_form.password(class="form-input", id="password", placeholder="Password") }}
        {% for error in login_form.password.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}

        <section class="btn-container">
          {{ login_form.submit(class="sign-in-btn") }}
        </section>
    </form>
</section>
<div class="link-container">
    <p>Don't have an account?
    <a href="{{ url_for('main.register') }}">
        <button type="button" class="link-btn">Register Here</button></a>
</p>
</div>
{% endblock %}