{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<h1>Login</h1>

<!-- Flash messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <p class="flash {{ category }}">{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<section id="form-container">
    <form method="POST" action="{{ url_for('main.login') }}"novalidate>
        {{ form.hidden_tag() }}
        <label for="email">{{ form.email.label }}</label>
        {{ form.email(placeholder="Email") }}
        {% for error in form.email.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}

        <label for="password">{{ form.password.label }}</label>
        {{ form.password(placeholder="Password") }}
        {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}

        <section class="btn-container">
          {{ form.submit(class="sign-in-btn") }}
        </section>
    </form>
</section>
<div class="link-container">
    <p>Don't have an account?
    <a href="{{ url_for('main.register') }}">
        <button type="button" class="link-btn">Register Here</button></a>
</p>
</div>
{% endblock %}